@model PeterKrausAP05LAP.ViewModels.VM_OrderPdf
@{
    Layout = null;
    ViewBag.Title = "OrderPdf";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>    
    @Styles.Render("~/Content/css")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">

        <div class="row">
            <div class="jumbotron">
                <div class="container">

                    <div class="col-md-4">
                        <p class="font-weight">
                            Peter Kraus
                            <br /> Gablenzgasse 41/9/3
                            <br /> 1150 Wien
                            <br /> krauspeter1995@yahoo.de
                        </p>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <p class="font-weight right">
                            @Model.Kunde.FirstName @Model.Kunde.LastName
                            <br /> @Model.Kunde.Street
                            <br /> @Model.Kunde.Zip @Model.Kunde.City
                            <br /> @Model.Kunde.Email
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div>
                        <p style="text-align:right">
                            <br />Rechnungsdatum: @DateTime.Now.ToShortDateString()
                            <br />Lieferdatum: @DateTime.Now.ToShortDateString()
                        </p>
                    </div>
                </div>
            </div>
            <div class="jumbotron">
                <div class=" container">
                    <h2>
                        Rechnung Nr. @Model.RechnungsNr
                    </h2>

                    <h3>
                        Sehr geehrter @Model.Kunde.Title @Model.Kunde.LastName,
                    </h3>

                    <p>
                        Herzlichen Dank für ihr Vertrauen in unsere Produkte. Wir erlauben uns folgende Beträge in Rechnung zu stellen und freuen uns, wenn wir auch in Zukunft etwas für Sie im Sortiment haben.
                    </p>

                    <table class="table">
                        <tr>
                            <th>
                                @*ProductImage*@
                            </th>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Netto Preis
                            </th>
                            <th>
                                Tax
                            </th>
                            <th>
                                Brutto Preis
                            </th>
                            <th>
                                Producer
                            </th>
                            <th>
                                Category
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.OrderedProducts)
                        {
                            <tr>
                                <td>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.productName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.price) €
                                </td>
                                <td>
                                    @(Math.Round(item.tax, 0)) %
                                </td>
                                <td>
                                    @(Math.Round(item.price + ((item.price / 100) * item.tax), 2)) €
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.manufactureName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.categoryName)
                                </td>
                                <td>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                @*ProductImage*@
                            </td>
                            <td>
                                @*ProductName*@
                                Gesamt:
                            </td>
                            <td>
                                @*NettoPreis*@
                                @Math.Round(Model.FullNetPrice, 2) €
                            </td>
                            <td>
                                @*Tax*@
                                @Math.Round(Model.SumTax, 2) €
                            </td>
                            <td>
                                @*BruttoPreis*@
                                @Math.Round(Model.FullBrutPrice, 2) €
                            </td>
                            <td>
                                @*Manufacturer*@
                            </td>
                            <td>
                                @*Category*@
                            </td>
                            <td>
                                @*ActionLinks*@
                            </td>
                        </tr>

                    </table>


                    <p>
                        Wir wünschen ihnen eine schöne Unterhaltung mit den Produkten und verbleiben
                        <br />mit freundlichen Grüßen
                    </p>
                    <h2>
                        StockGames
                    </h2>




                </div>
            </div>
            <div class="container">

                <div class="col-md-4">
                    <pre>
Peter Kraus
Gablenzgasse 41/9/3
1150 Wien
krauspeter1995@yahoo.de
                    </pre>
                </div>
                <div class="col-md-4">
                    <pre>
Tel: +43 660 3892928
Fax: + 43 660 3892928
Email: krauspeter1995@yahoo.de
Web: www.stockgames.com
                    </pre>
                </div>
                <div class="col-md-4">
                    <pre>
Musterbank StockgameStadt
BLZ: 43250
IBAN: AT611904300234573261
BIC: RZOOAT2L680
                    </pre>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
