@model PeterKrausAP05LAP.ViewModels.VM_OrderPdf
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>    
    @Styles.Render("~/Content/css")
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">

        <div class="row">
            <div class="jumbotron">
                <p class="text-justify font-weight">
                    <br />Peter Kraus
                    <br />Gablenzgasse 41/9/3
                    <br />1150 Wien
                    <br />@DateTime.Now.ToShortDateString()
                </p>






            </div>
            <div class="jumbotron">
                <table class="table">
                    <tr>
                        <th>
                            @*ProductImage*@
                        </th>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Netto Preis
                        </th>
                        <th>
                            Tax
                        </th>
                        <th>
                            Brutto Preis
                        </th>
                        <th>
                            Producer
                        </th>
                        <th>
                            Category
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.OrderedProducts)
                    {
                        <tr>
                            <td height="100px">
                                <img style="height:100%;width:100%" src="@item.imageHeaderPath" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.productName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price) €
                            </td>
                            <td>
                                @(Math.Round(item.tax, 0)) %
                            </td>
                            <td>
                                @(Math.Round(item.price + ((item.price / 100) * item.tax), 2)) €
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.manufactureName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.categoryName)
                            </td>
                            <td>
                                @Html.ActionLink("details", "ProductDetail", new { id = item.Id }) |
                                @Html.ActionLink("entfernen", "ProductDelete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            @*ProductImage*@
                        </td>
                        <td>
                            @*ProductName*@
                            Gesamt:
                        </td>
                        <td>
                            @*NettoPreis*@
                            @{decimal fullnettoCost = 0;
                                foreach (var item in Model.OrderedProducts)
                                {
                                    fullnettoCost += item.price;
                                }
                            }
                            @Math.Round(fullnettoCost, 2) €
                        </td>
                        <td>
                            @*Tax*@
                            @{decimal fullTaxCost = 0;
                                foreach (var item in Model.OrderedProducts)
                                {
                                    fullTaxCost += (item.price / 100) * item.tax;
                                }
                            }
                            @Math.Round(fullTaxCost, 2) €
                        </td>
                        <td>
                            @*BruttoPreis*@
                            @{decimal fullBruttoCost = 0;
                                foreach (var item in Model.OrderedProducts)
                                {
                                    fullBruttoCost += item.price + ((item.price / 100) * item.tax);
                                }
                            }
                            @Math.Round(fullBruttoCost, 2) €
                        </td>
                        <td>
                            @*Manufacturer*@
                        </td>
                        <td>
                            @*Category*@
                        </td>
                        <td>
                            @*ActionLinks*@
                        </td>
                    </tr>

                </table>






            </div>
        </div>
    </div>
</body>
</html>
