@model PeterKrausAP05LAP.ViewModels.VM_ProductDetail

@{
    ViewBag.Title = "ProductDetail";
}
<!-- Header Areal BEGINN -->
    <div class="container-fluid col-md-12 form-group form-inline img-container">

        <img class="img-center trailer-content"
             src="@Url.Content(Model.imageHeaderPath)"
             alt="Header Img @Model.productName" />
        <div class="header-text">
            <h1 style="background-color:lightgray;opacity:0.8;padding-left:10px;padding-right:10px">
                @Model.productName
            </h1>
        </div>

    </div>
<!-- Header Areal END -->
<!-- Trailer Areal BEGINN -->
<div class="row form-group ">
    <div class="container-fluid">

        <!-- Video BEGINN -->
        <div class="col-md-6">
            <video tag="video" class="trailer-content" controls="controls" autoplay>
                <source src="@Url.Content(Model.videoPath)" type="video/webm" />
            </video>
        </div>
        <!-- Video END -->
        <!-- Slider BEGINN -->
        <div class=" col-md-6">

            <div id="myCarousel"
                 class="carousel slide"
                 data-interval="3000"
                 data-ride="carousel">

                <div class="carousel-inner">
                    @for (int i = 0; i < Model.imagePaths.Count; i++)
                    {
                        if (i == 0)
                        {
                            <div class="item active">
                                    <img src="@Model.imagePaths[i]"
                                         class="carousel-img"
                                         alt="Game image @i">
                                </div>
                        }
                        else
                        {
                <div class="item">
                    <img src="@Model.imagePaths[i]"
                         class="carousel-img"
                         alt="Game image @i">
                </div>
                        }
                    }

                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!-- Slider END -->
    </div>
</div>
<!-- Trailer Areal END -->
<!-- Body BEGINN -->
<div class="row">

    <div class="col-md-6">
        <h4>@Model.description</h4>
        <p>Dieses Produkt wurde schon @Model.pageVisits angesehen</p>

    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                Preis:
            </dt>

            <dd>
                @{
                    string preisOutput = "";
                    if (Model.price == 0)
                    {
                        preisOutput = "Kostenlos";
                    }
                    else
                    {
                        preisOutput = Math.Round((Model.price + ((Model.price / 100) * Model.tax)), 2) + "€ inkl. " + Math.Round(Model.tax, 0) + "% mwst";
                    }
                }
                @preisOutput
            </dd>

            <dt>
                Kategorie:
            </dt>

            <dd>
                @Model.categoryName
            </dd>

            <dt>
                Hersteller:
            </dt>

            <dd>
                @Model.manufactureName
            </dd>

        </dl>
        <a href="@Url.Action("ShopPage", "Shop")" class="btn btn-info">zurück zum Shop</a>
        <a href="@Url.Action("ShopPage", "Shop", new { addCart = Model.Id })" class="btn btn-success">zum Warenkorb hinzufügen</a>
    </div>

</div>
<!-- Body END -->
<!-- Addition BEGINN -->
<div class="row">
    <div class="col-md-6">
        <h2>
            mehr @Model.categoryName-Games
        </h2>
    </div>
    @if (Model.sameManufacturer.Count() == 0)
    {
        <div class="col-md-6">
            <h2>
                mehr Games von @Model.manufactureName
            </h2>
        </div>
    }
    else
    {
        <div class="col-md-6">
            <h2>
                weitere beliebte Games
            </h2>
        </div>
    }
</div>
<div class="row">

    @foreach (VM_Product item in Model.sameManufacturer)
    {
    <div class="col-md-3">
        <div class="row">
            <h3 class="col-md-10">@item.ProductName</h3>
            <p class="col-md-2">@item.PageVisits gesehen</p>
        </div>
        <img class="card-img-top" src="@item.HeaderImgPath" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@item.ProductName</h5>
            <p class="card-text">@item.ShortDescription</p>
        </div>
        <div class="card-footer bottom">
            <a href="@Url.Action("ProductDetail", "Shop", new { id = item.Id })" class="btn btn-info">mehr..</a>
        </div>
    </div>
    }
    @foreach (VM_Product item in Model.sameCategory)
    {
<div class="col-md-3">
    <div class="row">
        <h3 class="col-md-10">@item.ProductName</h3>
        <p class="col-md-2">@item.PageVisits gesehen</p>
    </div>
    <img class="card-img-top" src="@item.HeaderImgPath" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@item.ProductName</h5>
        <p class="card-text">@item.ShortDescription</p>
    </div>
    <div class="card-footer bottom">
        <a href="@Url.Action("ProductDetail", "Shop", new { id = item.Id })" class="btn btn-info">mehr..</a>
    </div>
</div>
    }
    @foreach (VM_Product item in Model.TopGames)
    {
        <div class="col-md-3" style="height:100%">
            <div class="row">
                <h3 class="col-md-10">@item.ProductName</h3>
                <p class="col-md-2">@item.PageVisits gesehen</p>
            </div>
            <img class="card-img-top" src="@item.HeaderImgPath" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.ProductName</h5>
                <p class="card-text">@item.ShortDescription</p>
            </div>
            <div class="card-footer">
                <a href="@Url.Action("ProductDetail", "Shop", new { id = item.Id })" class="btn btn-info">mehr..</a>
            </div>
        </div>
    }



</div>



<!-- Addition END -->

<script>
    // mute the video before autoplay
    document.getElementsByTagName('video')[0].volume = 0.0;
</script>
